.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel {
  /*max-width: 1000px;
  max-height: 500px;*/
  object-fit: scale-down;
  display: flex;
  justify-content: center;
}

/*.carousel img {
  max-width: 1000px;
  /* max-height: 200px;
  object-fit: contain; 
}*/
.navbar {
  background-color: rgb(51, 75, 148);
}
.navbar-nav {
  color: white;
}

#nav {
  color: white;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.home {
  margin-top: 20px;
}

.logo {
  width: 50px;
  height: 50px;
}

.texto {
  flex-direction: column;
  justify-content: center;
  display: flex;
  margin-top: 30px;
  margin-left: 600px;
  margin-right: 600px;
}

/* .home-news {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
} */

.players {
  display: flex;
  display: inline-flex;
}

.opciones {
  border: chartreuse;
}

.staff {
  /* text-decoration-line: underline; */
  margin-bottom: 30px;
  margin-top: 60px;
  text-align: start;
  margin-left: 120px;
  border-bottom: black solid 1px;
}

.welcome {
  margin-top: 10px;
}

.clubtop {
  border: rgb(51, 75, 148) solid 3px;
  margin-top: 60px;
  margin-left: 105px;
  margin-right: 105px;
  margin-top: 20px;
}

.jugadores {
  margin-bottom: 40px;
  margin-top: 60px;
  text-align: start;
  margin-left: 115px;
  border-bottom: solid black 1px;
}

.newCard {
  background-color: white;
  border: rgb(51, 75, 148) solid 3px;
}

.newtittle {
  margin-bottom: 25px;
}

.contenedor {
  width: 1650px;
}

.plantilla {
  margin-top: 70px;
}

.botonsplant {
  margin-top: 30px;
}

.botoplant {
  background-color: rgb(247, 247, 247);
  border: none;
}

.botoplant:hover {
  background-color: rgb(51, 75, 148);
  color: white;
}

.playercard {
  background-color: white;
  border-radius: 10%;
}

.PlayerCard {
  border-radius: 5%;
  background-color: rgb(51, 75, 148);
  color: white;
  width: 300px;
  margin-left: 250px;
}

.staffcard {
  background-color: white;
  border-radius: 10%;
}

.StaffCard {
  border-radius: 5%;
  background-color: rgb(51, 75, 148);
  color: white;
  width: 300px;
  margin-left: 250px;
}

.infocard {
  text-align: start;
  margin-top: 10px;
  margin-left: 10px;
}

.botoedit {
  background-color: green;
  border-radius: 10%;
}

.botoborrar {
  background-color: rgba(235, 0, 0, 0.5);
  border-radius: 10%;
}

.botones {
  display: flex;
  justify-content: center;
}

.noticiero {
  border-bottom: 1px solid black;
  display: flex;
  margin-left: 50px;
  text-align: center;
  justify-content: center;
  margin-right: 110px;
  margin-left: 110px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.descrip {
  justify-content: left;
  display: flex;
  flex-direction: column;
}

.oneNew {
  margin-top: 50px;
}

.onePlay {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.textjugada {
  display: flex;
  margin-top: 20px;
}

.textdescrip {
  margin-top: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 600px;
  margin-right: 600px;
}

.main-footer {
  position: relative;
  color: white;
  background-color: rgb(51, 75, 148);
  padding-top: 3em;
  bottom: 0;
  width: 100%;
}

.club {
  margin-top: 150px;
}

.homepage {
  margin-top: 150px;
}

.whoare {
  margin-top: 20px;
}

.jugadas {
  margin-bottom: 40px;
  margin-top: 60px;
  text-align: start;
  margin-left: 130px;
  border-bottom: solid black 1px;
}

.JugadaCard {
  border: rgb(51, 75, 148) solid 3px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 70px;
}

.jugadasListPage {
  margin-top: 100px;
}
