.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel {
  /*max-width: 1000px;
  max-height: 500px;*/
  object-fit: scale-down;
  display: flex;
  justify-content: center;
}

/*.carousel img {
  max-width: 1000px;
  /* max-height: 200px;
  object-fit: contain; 
}*/
.navbar {
  background-color: rgb(51, 75, 148);
}

.header .nav + {
  color: white !important;
}

.logo {
  width: 50px;
  height: 50px;
}

.texto {
  justify-content: center;
  display: flex;
  margin-top: 50px;
  margin-left: 600px;
  margin-right: 600px;
}

.home-news {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}

.players {
  display: flex;
  display: inline-flex;
}
*/ .opciones {
  border: chartreuse;
}

.staff {
  text-decoration-line: underline;
  margin-bottom: 50px;
  margin-top: 30px;
}

.jugadores {
  text-decoration-line: underline;
  margin-bottom: 50px;
  margin-top: 50px;
}
