.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel {
  /*max-width: 1000px;
  max-height: 500px;*/
  object-fit: scale-down;
  display: flex;
  justify-content: center;
}

/*.carousel img {
  max-width: 1000px;
  /* max-height: 200px;
  object-fit: contain; 
}*/
.navbar {
  background-color: rgb(51, 75, 148);
  color: white !important;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.home {
  margin-top: 20px;
}

.logo {
  width: 50px;
  height: 50px;
}

.texto {
  justify-content: center;
  display: flex;
  margin-top: 50px;
  margin-left: 600px;
  margin-right: 600px;
}

.home-news {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}

.players {
  display: flex;
  display: inline-flex;
}

.opciones {
  border: chartreuse;
}

.staff {
  /* text-decoration-line: underline; */
  margin-bottom: 30px;
  margin-top: 60px;
  text-align: start;
  margin-left: 120px;
}

.welcome {
  margin-top: 30px;
}

.jugadores {
  /* text-decoration-line: underline; */
  margin-bottom: 40px;
  margin-top: 60px;
  text-align: start;
  margin-left: 120px;
}

.plantilla {
  margin-top: 70px;
}

.playercard {
  background-color: white;
  border-radius: 10%;
}

.PlayerCard {
  border-radius: 5%;
  background-color: rgb(51, 75, 148);
  color: white;
}

.staffcard {
  background-color: white;
  border-radius: 10%;
}

.StaffCard {
  border-radius: 5%;
  background-color: rgb(51, 75, 148);
  color: white;
}

.infocard {
  text-align: start;
  margin-top: 10px;
  margin-left: 10px;
}

.botoedit {
  background-color: green;
  border-radius: 10%;
}

.botoborrar {
  background-color: red;
  border-radius: 10%;
}

.botones {
  display: flex;
  justify-content: center;
}
